<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^3/dist/tailwind.min.css" rel="stylesheet
  <link rel="stylesheet" href="/css/style.css">
  <title>Mortgage Data Input</title>
  <style>
    label {
      font-size: 0.85rem;
    }
    input.form-control {
      font-size: 0.85rem;
      height: 1.75rem;
    }
    @media (min-width: 768px) {
      .form-group {
        display: flex;
        align-items: center;
      }
      .form-label {
        flex: 1;
        margin-bottom: 0;
        font-weight: 500;
        text-align: right;
        margin-right: 10px;
      }
      .form-control, .input-group {
        flex: 2;
      }
    }
  </style>
</head>
<body>
  <div class="container mt-3 text-center">
    <h1 class="text-3xl font-bold text-center mb-4">Mortgage Data Input</h1>
    <p class="mb-3">Date: <%= currentDate %></p>
    <form action="/update" method="POST" onsubmit="return validateForm()">
      <% data.forEach((row, index) => { %>
        <div class="row justify-content-center">
          <!-- Left Side Card -->
          <div class="col-md-5">
            <div class="card" style="background-color: #f8f9fa; border: 1px solid #000; border-radius: 8px;">
              <div class="card-body">
                <h4 class="text-xl font-medium mb-4">Basic Details</h4>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Borrower Name:</label>
                  <input type="text" name="borrowerName" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current 1st Mortgage Bal:</label>
                  <input type="text" name="currentFirstMortgageBal" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current 1st Mtg Rate:</label>
                  <input type="text" name="currentFirstMtgRate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current P I T I 1st Mtg:</label>
                  <input type="text" name="currentPITI1stMtg" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current P& I or IO Pymt 1st Mtg:</label>
                  <input type="text" name="currentPIOPymt1stMtg" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current Monthy Mortgage Ins (MI):</label>
                  <input type="text" name="currentMonthlyMI" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current Annual Taxes:</label>
                  <input type="text" name="currentAnnualTaxes" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current Annual Insurance:</label>
                  <input type="text" name="currentAnnualInsurance" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current Ins Policy Eff. Date:</label>
                  <input type="text" name="currentInsPolicyEffDate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current 2nd Mtg Bal:</label>
                  <input type="text" name="currentSecondMtgBal" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current 2nd Mtg Rate:</label>
                  <input type="text" name="currentSecondMtgRate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Current P & I or IO Pymt 2nd:</label>
                  <input type="text" name="currentPIOPymt2nd" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Total PITI 1st & 2nd:</label>
                  <input type="text" name="totalPITI1st2nd" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Total P&I & MI on 1st & 2nd & Other Debt:</label>
                  <input type="text" name="totalPIMI1st2ndOtherDebt" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Bal of "Other" Debts to Payoff:</label>
                  <input type="text" name="balOtherDebtsPayoff" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Mo. Pymt of "Other" Debt to payoff:</label>
                  <input type="text" name="monthlyPymtOtherDebtPayoff" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Last Payment Date:</label>
                  <input type="text" name="lastPaymentDate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Est. Closing Date:</label>
                  <input type="text" name="estimatedClosingDate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Funding Date:</label>
                  <input type="text" name="fundingDate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Month end:</label>
                  <input type="text" name="monthEnd" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">No Payment Due Month:</label>
                  <input type="text" name="noPaymentDueMonth" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">1st Payment due date:</label>
                  <input type="text" name="firstPaymentDueDate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Est Escrow Refund (be conservative):</label>
                  <input type="text" name="estimatedEscrowRefund" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Appraised Value:</label>
                  <input type="text" name="appraisedValue" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">FICO:</label>
                  <input type="text" name="fico" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Loan Purpose:</label>
                  <input type="text" name="loanPurpose" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Occupancy:</label>
                  <input type="text" name="occupancy" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">New Interest Rate:</label>
                  <input type="text" name="newInterestRate" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">PropertyType:</label>
                  <input type="text" name="propertyType" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">What type of loan is this?</label>
                  <input type="text" name="loanType" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Original MIP:</label>
                  <input type="text" name="originalMIP" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Refund of Original MIP:</label>
                  <input type="text" name="refundOriginalMIP" class="form-control w-full md:w-1/2 border rounded-md p-2" />
                </div>
              </div>
            </div>
          </div>

          <!-- Right Side Card - Monthly Details -->
          <div class="col-md-5">
            <div class="card" style="background-color: #f8f9fa; border: 1px solid #000; border-radius: 8px;">
              <div class="card-body">
                <h4 class="text-xl font-medium mb-4">Monthly Details</h4>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Principle:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" step="0.01" name="principle" class="form-control w-full md:w-1/2 border rounded-md p-2" value="<%= row.principle.toFixed(2) %>" required min="0" style="background-color: #ffa07a;" />
                  </div>
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Interest:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" step="0.01" name="interest" class="form-control w-full md:w-1/2 border rounded-md p-2" value="<%= row.interest.toFixed(2) %>" required min="0" style="background-color: #ffa07a;" />
                  </div>
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Taxes:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" step="0.01" class="form-control w-full md:w-1/2 border rounded-md p-2" value="<%= row.taxes.toFixed(2) %>" readonly style="background-color: #ffffe0;" />
                  </div>
                </div>
                <div class="form-group mb-6 md:flex md:items-center">
                  <label class="form-label md:w-1/3 font-semibold mb-1 md:mb-0">Insurance:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" step="0.01" class="form-control w-full md:w-1/2 border rounded-md p-2" value="<%= row.insurance.toFixed(2) %>" readonly style="background-color: #ffffe0;" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
      <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    </form>
  </div>
  <script>
    function validateForm() {
      const borrowerName = document.querySelector('input[name="borrowerName"]').value;
      const current1stMortgageBal = parseFloat(document.querySelector('input[name="current1stMortgageBal"]').value);
      const current1stMtgRate = parseFloat(document.querySelector('input[name="current1stMtgRate"]').value);
      const principle = parseFloat(document.querySelector('input[name="principle"]').value);
      const interest = parseFloat(document.querySelector('input[name="interest"]').value);

      if (borrowerName.trim() === "") {
        alert("Borrower Name is required.");
        return false;
      }

      if (isNaN(current1stMortgageBal) || current1stMortgageBal < 0) {
        alert("Please enter a valid Mortgage Balance greater than or equal to 0.");
        return false;
      }

      if (isNaN(current1stMtgRate) || current1stMtgRate < 0 || current1stMtgRate > 100) {
        alert("Please enter a valid Mortgage Rate between 0 and 100.");
        return false;
      }

      if (isNaN(principle) || principle < 0) {
        alert("Please enter a valid Principle amount greater than or equal to 0.");
        return false;
      }

      if (isNaN(interest) || interest < 0) {
        alert("Please enter a valid Interest amount greater than or equal to 0.");
        return false;
      }

      return true;
    }

    document.addEventListener("DOMContentLoaded", function () {
    // Get all inputs that have "Date" in the label
    document.querySelectorAll('input').forEach(function (input) {
      if (input.previousElementSibling && input.previousElementSibling.textContent.includes("Date")) {
        input.addEventListener("input", function (event) {
          let value = input.value.replace(/\D/g, ""); // Remove any non-digit characters
          if (value.length > 2 && value.length <= 4) {
            input.value = value.slice(0, 2) + "/" + value.slice(2);
          } else if (value.length > 4) {
            input.value = value.slice(0, 2) + "/" + value.slice(2, 4) + "/" + value.slice(4, 8);
          } else {
            input.value = value;
          }
        });
      }
    });
  });
  </script>
  <script src="/js/calculations.js"></script>
</body>
</html>
